@use 'navbar';
@use 'footer';

.container {
margin-top: 50px;

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .col-md-6 {
        padding: 20px;

        h3 {
            font-size: 1.8rem;
            font-weight: bold;
            color: #d9534f;
        }

        p {
            font-size: 1.2rem;
            color: #555;
        }

        img {
            max-width: 100%;
            border-radius: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            margin-top: 15px;
        }
    }
}
}