@use 'navbar';
@use 'hero';
@use 'footer';
@use 'contact';
@use 'products';
@use 'about';


body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  
   
   
  
    .promo {
      padding: 40px;
      background-color: #343a40;
      text-align: center;
  
      h2 {
        color: white;
        margin-bottom: 20px;
      }
  
      p {
        color: white;
        line-height: 1.6;
        max-width: 800px;
        margin: 0 auto 20px;
      }
  
      img {
        width: 100%;
        max-width: 600px;
        height: auto;
        margin-top: 20px;
      }

      .button {
        display: block;
        width: 200px;
        padding: 10px 20px;
        background-color: #b67c08;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        margin: 0 auto;
        box-sizing: border-box;
        line-height: 1; /* Ajusta la altura de la línea de texto */
        margin-top: 20px;
      }
      
      /* Media query para pantallas medianas */
      @media (max-width: 768px) {
        .button {
          font-size: 14px; /* Reduce solo el tamaño de la fuente */
          width: 180px;
        }
      }
      
      /* Media query para pantallas pequeñas */
      @media (max-width: 480px) {
        .button {
          font-size: 12px; /* Reduce aún más el tamaño de la fuente */
          width: 140px;
        }
      }
      
      .button:hover {
        background-color: #3e8e41; /* Un verde más oscuro al pasar el ratón */
      }
    }
  

  
    
  }

 





